<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Congratulations, <%= @user.username %>!</h1>
      <p>You have successfully passed the final step and we think you'll  be a great fit for App Academy!
      </p>
      <p>
        To fill out all the neccessary paperwork, click this link: <%= @url %>
      </p>
  </body>
</html>
